@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/foto.jpg">
        <h1 class="person-name">Cordelia Krol</h1>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Personalia</h3>
            <hr>
        </div>

        <div class="profile-content__element-header">
            <p class="profile-content__period">
                E-mail: s1196604@student.windesheim.nl<br/>
                Telefoon: +31642390141
            </p>
        </div>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Eigenschappen</h3>
            <hr>
        </div>

        <div class="profile-content__element-header">
            <ul class="profile-content__list">
                <li>Leergierig</li>
                <li>Creatief</li>
                <li>Probleemoplossend</li>
            </ul>
        </div>
    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <div class="profile-content__element-header">
                    <p class="profile-content__description">
                        Hoi! Ik ben Cordelia, een 19-jarige student HBO-ICT aan Windesheim. 
                        Ik hou van programmeren en heb gewerkt met Java, PHP en C#. 
                        Naast coderen ben ik ook graag creatief bezig met tekenen en ontwerpen. 
                        Ik ben altijd op zoek naar nieuwe uitdagingen om mijn kennis en vaardigheden verder te ontwikkelen.
                    </p>
                </div>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Havo</h4>
                     <p class="profile-content__period">sep 2018 - feb 2023</p>
                </div>
            </div>
            <p class="profile-content__institute">Het Erasmus, Almelo</p>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">sep 2023 - feb 2025</p>
                </div>
            </div>
            <p class="profile-content__institute">Windesheim, Zwolle</p>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Verkoopmedewerker</h4>
                </div>
                <p class="profile-content__institute">Zeeman, Almelo</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Verkoopmedewerker</h4>
                </div>
                <p class="profile-content__institute">Anteplioglu, Almelo</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Skills</h3>
                <hr>
            </div>
            
            <div class="profile-content__element-header">
                <ul class="profile-content__list">
                    <li>Java</li>
                    <li>PHP</li>
                    <li>C#</li>
                    <li>Grafisch ontwerp en illustratie</li>
                </ul>
            </div>

        </section>

    </section>

</div>
