@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Jouw privacy is belangrijk. Op deze profielpagina worden geen persoonlijke gegevens verzameld, opgeslagen of gedeeld zonder jouw toestemming.</p>
